{% extends 'menu.html' %}
{% block forms %}
	<div class="col-md-6">
		<a href="https://www.facebook.com/imperiogeekstore">
			<img src="/static/image/facebooklogo.png" alt="fglogo" class="index-logo">
		</a>
		<a href="https://www.facebook.com/imperiogeekstore">Facebook</a>
	</div>

	<div class="col-md-6">
		<a href="https://www.instagram.com/imperiogeekstore">
			<img src="/static/image/instagramlogo.png" alt="iglogo" class="index-logo">
		</a>
		<a href="https://www.instagram.com/imperiogeekstore">Instagram</a>
	</div>

	<div class="col-md-6">
		<img src="/static/image/gmaillogo.png" alt="maillogo" class="index-logo">
		<font>Email</font>
	</div>

	<div class="col-md-6">
		<img src="/static/image/telefonelogo.png" alt="fonelogo" class="index-logo">
		<font>Telefone</font>
	</div>

	<iframe width="600" height="450" frameborder="0" style="border: 0;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJcb6iVfr_sgcRfOD4-UdQ8es&key=AIzaSyBet29kUAyNTr6rpJXDgWvlnCLOooc87bs" allowfullscreen></iframe>
{% endblock %}