{% extends 'menu.html' %}
{% block forms %}
  <a href="{% url lista_url %}"><button type="button" class="btn btn-lg btn-primary">Lista</button></a>
  <a href="{% url novo_url %}"><button type="button" class="btn btn-lg btn-primary">Cadastro</button></a>
  {% if form %}
    <div class="panel panel-primary" style="max-width: 100%; width: 500px; margin: 0 auto;">
      <div class="panel-heading">
        <h3 class="panel-title">{{ header_text }}</h3>
      </div>
      <div class="panel-body">
        <form method="POST" class="form-signin">{% csrf_token %}
          {{ form.descricao }}
          {{ form.fabricante }}
          <input type="submit" value="Concluir" class='btn btn-primary btn-lg' style="float: right; margin-top: 10px;">
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}